:root {
  --back-color: #f0f0f0;
  --active-color: #fff;
  --select-color: #f0f0f0
  --select-color-agree: rgb(228, 255, 226);
  --select-color-disagree: rgb(255, 226, 226);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container-main {
  background-color: var(--back-color);
  min-width: 500px;
  min-height: 500px;
  position: relative;
  padding: 45px;
}

.main-screen-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;

  height: 500px;
}

.clients-screen-wrap{
  width: 800px;
  height: 700px;
}

.container {
  background-color: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.page-name {
  padding: 20px;
  font-size: 24px;
}

.button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.button:hover {
  cursor: pointer;
}

.top-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-zone {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  padding: 0 30px;
}

.center{
  justify-content: center;
  align-items: center;
}

.center-jc{
  justify-content: center;
}
.center-ai{
  align-items: center;
}

.search-input {
  font-size: 15px;
  border: none;
  outline: none;
  height: 40px;
  width: calc(100% - 40px);
}

.search-wrap {
  border-bottom: solid 1px #e6e6e6;
  margin-bottom: 20px;
  display: flex;
}

.search-image-wrap{
  flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.clients-list{
  overflow: auto;
height: 500px;
}

.client{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

 .modal,.modal-add-client {
   display: flex;
  background: #a8a8a8b8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  justify-content: center;
  align-items: center;
}


.modal-window{
  position: relative;
  width: 700px;
  padding: 30px;
}

.modal-close,.modal-add-client-close{
  border: solid #000 2px;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-window .client-fio{
  font-size: 30px;
}

.modal-window .client-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-window .client-additional-info{
  display: flex;
  justify-content: space-between;
  width: 250px;
  width: 330px;
  font-size: 20px;
  line-height: 30px;
}

.diagnoses{
  margin-top: 30px;
}

.diagnoses-title{
  font-size: 20px;
  line-height: 35px;
}
.diagnoses-list{
  border: solid 1px #000;
  height: 250px;
  padding: 10px;
  overflow: auto;
}

.diagnos{
  line-height: 25px;
  display: flex;
  justify-content: space-around;
}

.diagnos-name{
 text-align: left;
}

.diagnos-description{
 text-align: right;
}

.form-new-client{
  display: flex;
  flex-direction: column;
}

.form-new-client div{
  margin: 14px 0;
}

.servises-screen-wrap{
  width: 1000px;
  height: 850px;
}

.servises-list{
  display: flex;
  justify-content: space-evenly;
  height: 800px;
}

.servise,.product{
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.divider{
  border: solid 2px #b4b4b4;
  border-radius: 10px;
  margin: 20px;
}

.col{
  width: 100%;
}

.col-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  overflow: auto;
  line-height: 30px;
}

/* Прием – APPOINTMENT */

.appointment-screen-wrap{
  width: 1000px;
  height: 800px;
}

.appointments-list{
  overflow: scroll;
  height: calc(100% - 150px);
}

.sized-box{
  background-color: #a8a8a8b8;
  width: 100%;
  height: 100px;
  margin: 20px 0px;
}

/* Авторизация – Auth */

.auth label,.auth input {
    display: block;
}

.auth input.text {
  margin-bottom: 12px;
  width: 95%;
  padding: .4em;
}
